.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: flex-start;
}

.character {
  background-color: lime;
  padding: 1em;
  border-radius: 5px;
  width: 25%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
}
